@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/task-manager-dashboard/src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
